h1 {
  color: rgb(164, 111, 167);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-style: oblique;
}

h2 {
  color: rgb(144, 114, 172);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
}

h3 {
  color: rgb(144, 114, 172);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

h4 {
  color: rgb(144, 114, 172);
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  text-align: left;
}

p {
  color: rgb(111, 57, 131);
  font-size: 15px;
  line-height: 1.5;
}

li {
  color: rgb(183, 127, 235);
  font-size: 15px;
  font-style: italic;
}

header {
  background-color: rgba(181, 112, 181, 0.777);
  padding: 20px;
  text-align: left;
}

article {
  background-color: rgba(221, 160, 221, 0.377);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background-color: rgba(181, 112, 181, 0.777);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

#author {
  color: rgb(85, 9, 113);
  font-size: 12px;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 15px;
}

#copyright {
  color: rgb(85, 9, 113);
  font-size: 12px;
  font-style: italic;
  background-size: contain;
}

.authors {
  color: rgb(125, 114, 196);
  font-size: 12px;
  font-style: italic;
  margin-top: 15px;
}

.related-post {
  list-style-type: none;
}
